#wrapper {
	margin:auto;
	width:900px;
	background: rgba(0, 0, 0, 0.7);
	padding:10px;
}

#login {
	border: 1px solid #AEAEAE;
	margin: 100px auto 0;
	padding: 0;
	width: 300px;
}

#adminmenu {
	padding-left: 0;
}

#adminmenu li {
	float: left;
	list-style: none;
	margin-right: 20px;
}

.clear {
	clear: both;
}

.error {
	padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

p,li {
	color: #ffffff;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	color: #EF1F2F;
	text-decoration: none;
}

form input {
	border: 1px solid #999999;
	border-bottom-color: #cccccc;
	border-right-color: #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 2px;
}

table {width:98%; text-align:left; border:1px solid #EF1F2F; font-size:12px; color:#ffffff; margin-bottom:10px;}
table th {background-color:#000000; border:1px solid #EF1F2F; padding:3px 6px; font-weight:normal; color:#ffffff;}
table tr td {border:1px solid #EF1F2F; padding:5px 6px;}
table tr.alt td {background-color:#E2E2E2;}
table tr:hover {background-color:#000; }

body{
	background-image: url("nybg.jpg");
    background-color: #000;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-size:cover;
}
h1{
	color:#ffffff;
}

.mainelements{
    position:all;
    margin-left:  50px;
    margin-right: 50px;
        display: inline-block;

}



.dropdownMenu {
    position: relative;
    display: inline-block;
}

.home {
  padding: 16px;
  background-color: black;
}
.dropbtn {
    background-color:black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;

    background-color: #333;


}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}